@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @* <li class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello
    @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index",
    "Home", new { area = "" })">
    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
    </form>
    </li> *@


        <div class="btn-group">
            <button type="button" class="btn opt btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Opções
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Minha
                        Conta</a></li>
                <li>
                    <form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class=" logout nav-link btn btn-link text-dark">Sair</button>
                    </form>
                </li>
            </ul>
        </div>
    }
    else
    {
        <li class="nav-item regis">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Comece agora</a>
        </li>
        <li class="nav-item log">
            <a style="color:white !important;" class="nav-link text-dark" asp-area="Identity"
                asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
