@model BookHub.Models.AnotacaoModel

@{
    ViewData["Title"] = "Create";
}


<div class="return">
    <a asp-action="Index">
        <div class="iconReturn">
            <iconify-icon icon="ph:arrow-left-bold"></iconify-icon>
        </div>
        Voltar para notas
    </a>
</div>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input asp-for="Texto" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Cor</p>
                <div class="colors">
                        <div style="background-color: #D1BEF1;" data-backCor="#D1BEF1" class="cor"
                            onclick="select(this)">
                        </div>
                        <div style="background-color:#C8E24D;" data-backCor="#C8E24D" class="cor"
                            onclick="select(this)">
                        </div>
                        <div style="background-color: #F5B501;" data-backCor="#F5B501" class="cor"
                            onclick="select(this)">
                        </div>
                        <div style="background-color: #01af5e;" data-backCor="#01af5e" class="cor"
                            onclick="select(this)">
                        </div>
                        <input asp-for="Cor" id="inputCor" hidden>
                        <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPublicacao" class="control-label"></label>
                <input asp-for="DataPublicacao" class="form-control" />
                <span asp-validation-for="DataPublicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @* <input id="dataInput" asp-for="DataPulicacao" class="form-control" hidden /> *@

        </form>
    </div>
</div>
