@model BookHub.Models.AnotacaoModel

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutAdmin";
}

<style>
    form{
        padding: 0 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .title{
        border: none;
        font-size: 32px;
        width: 100%;
        background: none !important;
    }

    .text{
        width: 100%;
        height: 400px;
        border: none;
        background: none !important;
    };

    
    
</style>

<div class="return">
    <a asp-action="Index">
        <div class="iconReturn">
            <iconify-icon icon="ph:arrow-left-bold"></iconify-icon>
        </div>
        Voltar para notas
    </a>
</div>


<div class="row" style="width:100%">
    <div class="col-md-4" style="width: 100%;">
        <form asp-controller="Anotacoes" asp-action="Cadastrar" method="POST">
            <input type="hidden" asp-for="IdAnotacao">
            <div class="form-group">
                <input asp-for="Titulo" placeholder="Título..." class="form-control title" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="Texto" placeholder="Escreva algo..." class="form-control text"></textarea>
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label" style="margin-bottom: 8px;"></label>
                <input asp-for="Categoria" placeholder="Adicione uma categoria..." class="form-control" style="width: 40%;background: none !important; border:none;" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Cor</p>
                <div class="colors">
                        <div style="background-color: #D1BEF1;" data-backCor="#D1BEF1" class="cor"
                            onclick="select(this)">
                        </div>
                        <div style="background-color:#C8E24D;" data-backCor="#C8E24D" class="cor"
                            onclick="select(this)">
                        </div>
                        <div style="background-color: #F5B501;" data-backCor="#F5B501" class="cor"
                            onclick="select(this)">
                        </div>
                        <div style="background-color: #01af5e;" data-backCor="#01af5e" class="cor"
                            onclick="select(this)">
                        </div>
                        <input asp-for="Cor" id="inputCor" hidden>
                        <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" style="background-color: black;border-radius:100px;border:none;padding: 8px 24px;"/>
            </div>

        </form>
    </div>
</div>
