@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 90px;">
    <h1 style="font-weight: 500;line-height: 1.5;" class="display-4 titleIndex">
        <span style="background-color: #e2ff4b; color: #344626; padding: 0 10px; border-radius: 8px;">Planeje</span>
        A Vida, Anote
        <span style="background-color: #d7bcff; color: #5b3a8d; padding: 0 10px; border-radius: 8px;">Ideias</span>, Torne Sonhos Mais Fáceis.
    </h1>
    <p style="font-size: 18px; margin-bottom:32px;">Comece a fazer suas anotações agora</p>
    <a class="cta" asp-controller="Anotacoes" asp-action="Index">Escrever Notas</a>
</div>

<div class="containerCard">
<h4>O que você pode fazer</h4>

<div class="cards">
    <div class="cardNote" style="background-color: #01af5e; color:">
        <div class="text">
            <p>Criar</p>
        <p>Escreva Notas</p>
        <p>Escreva anotações online e tenha acesso a qualquer momento.</p>
        </div>
        
        <div class="icon">
            <iconify-icon icon="ic:round-add"></iconify-icon>
        </div>
    </div>
    <div class="cardNote" style="background-color:#D1BEF1;">
        <div class="text">
            <p>Visualizar</p>
        <p>Veja suas Notas</p>
        <p>Tenha acesso a todas as suas notas em um só lugar.</p>
        </div>
        
        <div class="icon">
            <iconify-icon icon="streamline:eye-optic"></iconify-icon>
        </div>
    </div>
    <div class="cardNote" style="background-color:#C8E24D;">
        <div class="text">
            <p>Atualizar</p>
        <p>Atualize as Notas</p>
        <p>Escreveu algo errado? Atualize as notas, reescreva, controle o que quiser nas suas notas.</p>
        </div>
        <div class="icon">
           <iconify-icon icon="radix-icons:update"></iconify-icon>
        </div>
    </div>
    <div class="cardNote" style="background-color: #F5B501;">
        <div class="text">
            <p>Deletar</p>
        <p>Apague Notas</p>
        <p>Faça uma limpa. Delete anotações antigas ou que já não deseje mais.</p>
        </div>
        
        <div class="icon">
            <iconify-icon icon="mingcute:delete-line"></iconify-icon>
        </div>
    </div>
</div>

</div>
