@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row" style="display: flex;
justify-content:center;align-items:center;margin-top:80px;">
    <div class="col-md-4" style="  background-color: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
        <h1 style="text-align: center;font-size:32px;">@ViewData["Title"]</h1>
        <p style="text-align: center;">
            Essa opção ainda não está disponível.
        </p>
    </div>
</div>
