@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



*{
  font-family: 'Prompt', sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar{
  box-shadow: none !important;
  border: none !important;
}

.visible{
  display: flex !important;
}

.invisible{
  display: none !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.regis{
  border: 1px solid rgb(156, 156, 156);
  color: black;
  font-weight: 500;
  border-radius: 100px;
  padding: 0 12px;
  font-size: 14px;
}

.log{
  background-color: black;
  font-weight: 500;
  border-radius: 100px;
  padding: 0 16px;
  font-size: 14px;
  margin-left: 16px;
}


.dot{
  display: inline-block;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: black;
}

.cta{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 100px;
}

.containerCard{
  padding: 90px 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cards{
  display: flex;
  gap: 12px;
}

.cardNote{
  color: black;
  width: calc(100% / 4);
  border-radius: 10px;
  padding: 14px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.cardNote > .text > :nth-child(2){
  font-size:20px;
  font-weight: 500;
}
.cardNote > .text > :nth-child(3){
  font-size: 14px;
  font-weight: 500;
}

.icon{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 8px;
  margin: 0;
  border-radius: 100px;
}
.icon > iconify-icon{
  font-size: 32px;
}

.btn{
  background-color: black;
  border: 1px solid black;
  border-radius: 100px;
}



h1{
  display: none;
}

.titleIndex{
  display: block;
}

.col-md-4{
  background-color: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.row{
  padding: 80px 20px !important;
  display: flex;
  justify-content: center;
}

.logout{
  background: none;
  color: black;
  padding: 0 !important;
  border: none;
  align-items: flex-start;
  justify-content: flex-start;
}

.headerIndex{
  padding: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}

.opt{
  background:none;
  border: 1px solid rgb(150, 150, 150);
  color: black;
}

.btnCreate{
  background-color: black;
  color: white;
  padding: 8px 24px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: none;
  gap: 8px;
}
.btnCreate > iconify-icon{
  font-size: 22px;
}

.containerNotes{
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
  /* justify-content: space-between; */
}

.note{
  position: relative;
  background-color: #258cfb;
  width: calc(100% / 6 - 10px);
  margin: 5px;
  height: 224px;
  border-radius: 10px;
  color: black;
  padding: 14px;
  overflow: hidden;
}

.btnEdit{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  bottom: 14px;
  right: 14px;
}

.more{
  background: none;
  padding: 0;
  border: none;
  color: white;
  height: fit-content;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.dropdown-toggle::after{
  display: none;
}

.btnEditLink{
  padding: 10px;
  background-color: black;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 16px;
  width: fit-content;
}

.colors{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.cor{
  padding: 12px;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.bordaCor{
  border: 4px solid rgb(255, 255, 255);
}

.closebtn{
  background:none;
  border: 1px solid black;
  color: black;
}


.return{
  padding: 40px;
}
.return > a {
  text-decoration: none;
  color: black !important;
  display: flex;
  align-items: center;
  gap: 16px;
}

.iconReturn{
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: rgb(247, 247, 247);
  font-size: 20px;
  width: fit-content;
}
